#embed #ch-ta {
  height: 300px;
  margin-bottom: 12px; 
  width: 99%; 
}

#ch-embed #ch-ta {
  height: 95%;
  width: 100%;
}

.embed {
  background: url('../images/embed.gif') no-repeat;
  float: right;
  height: 16px;
  opacity: 0.6;
  text-indent: -9999px;
  width: 16px;
}

.embed:hover {
  opacity: 1;
}
